.cart-empty {
  text-align: center;
  margin-top: 120px;
}

.orderContainer {
  display: flex;

  .flexWrap {
    flex: 2;

    .itemContainer {
      @include dp($content: space-evenly);

      .deleteBtn {
        color: red;
        font-weight: bold;
        border: 2px solid red;
        padding: 1px 4px;
        font-style: normal;
        cursor: pointer;
      }
    }
  }

  #order_summary {
    border: 1px solid #e3e3e3;
    border-radius: 2px;
    padding: 2rem 1.5rem;
    margin-left: 1rem;
  }

  .confirmBtn {
    background-color: transparent;
    border: $border;
    padding: 1px 4px;
    border-radius: 6px;
  }
}
