footer {
  margin-top: 8rem;
  color: grey;
  bottom: 0;
  width: 100%;
  background-color: #eeeeee;

  .footerWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-size: 13px;
  }
}
