.cartbtn {
  margin: 10px 0;
  border: $border;
  padding: 5px 10px;

  &:hover {
    background: #bbbbbb;
  }
}

.itemid {
  font-size: 13px;
  color: rgb(131, 131, 131);
}

.itemprice {
  font-size: 17px;
  margin: 5px 0;
}
