.itemWrap {
  margin: 10px 14px 40px 14px;

  .imgWrap {
    width: 220px;
    height: 350px;
  }

  .itemName {
    font-size: 1.1rem;
    color: black;
  }

  .itemPrice {
    font-size: 0.9rem;
    margin: 5px 0;
  }

  .itemDetail {
    font-size: 0.9rem;
    border: $border;
    padding: 2px 4px;
    border-radius: 6px;
    color: black;
  }
}
